@import "tailwindcss";

@theme {
  --color-gh-bg: #0d1117;
  --color-gh-text: #f0f6fc;
  --color-gh-border: #30363d;
  --color-gh-muted: #8b949e;
  --radius-test: 37px;

  --font-gh-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  --font-gh-mono:
    ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
